@import "tailwindcss";



* {
    font-family: 'Poppins', sans-serif;
}

.custom-menu .ant-menu-item {
    transition: background-color 0.3s, color 0.3s;
    font-size: 16px; 
    font-weight: 600;
    padding: 12px 16px;
    margin-bottom: 12px;
    border-radius: 6px;
    color: "#99a3ab" !important; 
}


.custom-menu .ant-menu-item .anticon {
    font-size: 20px !important;
  }
.custom-menu .ant-menu-item:hover,
.custom-menu .ant-menu-item-selected {
    background-color: #7288fa !important;
    color: white !important;
}

.bg-loginBackground {
    background-image: url('/src/assets//hero-bg.png');
    background-size: cover;
    background-position: center;
    opacity: 100;
}